<!DOCTYPE html>
<html>
<head>
  <title>Traductor Espa침ol/Esperanto</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h2>Descomposici칩n de la oraci칩n: <%= sentence %></h2>
  <table>
    <tr>
      <th>Posici칩n</th>
      <th>Palabra</th>
    </tr>
    <% words.forEach((word, index) => { %>
    <tr>
      <td><%= index %></td>
      <td><%= word %></td>
    </tr>
    <% }) %>  
  </table>
</body>
</html>
