<!DOCTYPE html>
<html>
<head>
  <title>Traductor Espa침ol/Esperanto</title>
  <link rel='stylesheet' href='/stylesheets/bootstrap-paper.min.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div class="jumbotron">
    <h2>Descomposici칩n de la oraci칩n: <%= sentence %></h2>
    <table class="table table-striped table-hover">
      <tr>
        <th>Posici칩n</th>
        <th>Palabra</th>
        <th>Es un</th>
      </tr>
      <% words.forEach(word => { %>
      <tr>
        <td><%= word.index %></td>
        <td><%= word.name %></td>
        <td><%= (word.types) ? word.types.toString() : 'Desconocida' %></td>
      </tr>
      <% }) %>  
    </table>
  </div>
</body>
</html>
